<div class="row no-margin-top wrapper-image-fullwidth">
  <div class="col-12">
    <%= image_tag("header.jpg")  %>
  </div>
</div>
<div class="call-action">
  <div class="row"> 
    <div class="small-12 medium-12 large-6 column">
      <a href="/users/sign_up " class="call-action-block">
        <div class="wrapper">
          <h3>Participa El Puerto</h3>
          <div class="row">
            <div class="small-12 medium-12 large-12 column text img-small">
              <%= image_tag("participa-puerto.png")  %>
              <p>
                Bienvenidos, a la plataforma <b>Participa El Puerto</b>, a través de la cual, el Ayuntamiento de El Puerto da la posibilidad a los ciudadanos empadronados en El Puerto de ser parte aciva del futuro de la ciudad.
              </p>
              <p>
                Desde este portal podrás consultar y votar las diferentes propuestas presentadas a los presupuestos participativos, participar en debates, o iniciar proyectos e iniciativas para la mejora de nuestra ciudad.
              </p>
              <button>¡Regístrate ahora y participa!</button>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="small-12 medium-12 large-6 column">
      <a href="/budgets/1/investments?heading_id=1" class="call-action-block mb">
        <div class="wrapper">
          <h3>Votaciones Presupuestos Participativos</h3>
          <div class="row">
            <div class="small-12 medium-12 large-12 column text img-large">
              <%= image_tag("votaciones-presupuestos.png") %>
              <p>
                Iniciamos la fase de votaciones online de las propuestas viables para los presupuestos participativos de 2019.
              </p>
              <p>
                Consulta las propuestas ciudadanas presentadas y vota las que quieres que se incluyan en el presupuesto municipal de 2019.
              </p>
              <p>
                Tienes hasta el 25 de noviembre.
              </p>
              <button>Vota las propuestas</button>
            </div>
          </div>
        </div>
      </a>
    </div>



  </div>
</div>